<div
  class="lg:flex lg:justify-between items-center mt-[2rem] pt-[2rem] pb-[3rem] border-t border-gray-700 border-opacity-10"
>
  <div>
    <div class="flex lg:gap-2 gap-1 flex-row justify-center items-center">
      <img
        src="/assets/public/muusta_logo.jpg"
        alt="muusta_logo"
        class="w-[20px] h-[20px] font-bold"
      />
      <h1 class="font-bold text-[20px] mt-1 text-black">Muuster</h1>
    </div>
  </div>

  <div>
    <ul
      class="lg:flex lg:flex-row flex flex-col justify-center items-center gap-5"
    >
      <li class="text-gray-900 text-sm py-3">Terms</li>
      <li class="text-gray-900 text-sm py-3">Privacy</li>
      <li class="text-gray-900 text-sm py-3">Cookies</li>
    </ul>
  </div>

  <div>
    <div
      class="lg:flex lg:flex-row py-2 gap-3 flex flex-row justify-center items-center"
    >
      <!-- https://feathericons.dev/?search=linkedin&iconset=feather -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="24"
        height="24"
        class="main-grid-item-icon"
        fill="none"
        stroke="black"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
      >
        <path
          d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"
        />
        <rect height="12" width="4" x="2" y="9" />
        <circle cx="4" cy="4" r="2" />
      </svg>

      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="24"
        height="24"
        class="main-grid-item-icon"
        fill="currentColor"
        stroke="black"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width=""
      >
        <path
          d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"
        />
      </svg>

      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="24"
        height="24"
        class="main-grid-item-icon"
        fill="none"
        stroke="black"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
      >
        <path
          d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"
        />
      </svg>
    </div>
  </div>
</div>
