<div class="lg:h-[760px]">
  <h1
    class="font-semibold text-center py-3 lg:text-[48px] text-gray-900 text-lg lg:mb-[4rem]"
  >
    Get Access To Products On The Go
  </h1>
  <div class="grid grid-cols-1 lg:grid lg:grid-cols-2 lg:gap-10 gap-5">
    <div>
      <img
        src="/assets/public/Image2.png"
        alt="waitlist image"
        class="object-cover w-full lg:min-h-[600px] rounded-lg"
      />
    </div>
    <h1
      class="text-md font-medium leading-relaxed lg:text-[32px] text-gray-900 lg:w-[510px] lg:flex justify-center items-center text-center lg:text-left mb-[2rem]"
    >
      You Are A Step Away From Shopping Freedom
    </h1>
  </div>
</div>
