<div class="py-2 items-center text-gray-500 lg:flex">
  <div class="w-full flex justify-between items-center">
    <div class="flex items-center flex-row lg:gap-2 gap-1">
      <img
        src="/assets/public/muusta_logo.jpg"
        alt="muusta_logo"
        class="w-[20px] h-[20px] font-bold"
      />
      <h1 class="font-bold text-[20px] mt-1 text-black">Muuster</h1>
    </div>
    <div class="lg:max-w-[288px]">
      <button class="flex items-center gap-5">
        <div class="flex flex-row text-orange-400 gap-2 items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="18"
            height="18"
            class="main-grid-item-icon hidden lg:block"
            fill="none"
            stroke="orange"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
          >
            <circle cx="12" cy="12" r="10" />
            <line x1="2" x2="22" y1="12" y2="12" />
            <path
              d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"
            />
          </svg>
          <h2 class="font-bold text-md hidden lg:block">EN</h2>
        </div>

        <div
          class="p-1 lg:px-6 bg-orange-400 text-white rounded-sm lg:w-[215px]"
        >
          <h2
            class="text-[16px] rounded-sm whitespace-nowrap md:text-sm font-medium lg:text-[16px]"
          >
            Check Waitlist Status
          </h2>
        </div>
      </button>
    </div>
  </div>
</div>
