<div class="lg:mt-10 text-gray-600 lg:flex lg:justify-between">
  <div class="w-full">
    <h1
      class="font-extrabold text-[2.5rem] lg:text-[71px] text-gray-900 leading-none mb-[2rem] mt-[3rem]"
    >
      We shared a One-Time-Pin
    </h1>
    <h2 class="lg:w-[585px] mb-[1.5rem]">
      A One-Time-Pin has ben sent to your email address mail2mail.com.` Kindly
      confirm it below to solidify your waitlist position.
      <span class="font-bold text-black">Join Waitlist </span> for a position in
      our waitlist and get first hand information on when you can register
    </h2>

    <div class="text-[#090A0A] flex flex-row gap-5 mb-[2rem]">
      <div
        class="lg:h-[88px] w-[88px] rounded-full border border-[#E3E5E5] text-bold text-[36px] flex justify-center items-center"
      >
        *
      </div>
      <div
        class="lg:h-[88px] w-[88px] rounded-full border border-[#E3E5E5] text-bold text-[36px] flex justify-center items-center"
      >
        *
      </div>
      <div
        class="lg:h-[88px] w-[88px] rounded-full border border-[#E3E5E5] text-bold text-[36px] flex justify-center items-center"
      >
        *
      </div>
      <div
        class="lg:h-[88px] w-[88px] rounded-full border border-[#E3E5E5] text-bold text-[36px] flex justify-center items-center"
      >
        *
      </div>
      <div
        class="lg:h-[88px] w-[88px] rounded-full border border-[#E3E5E5] text-bold text-[36px] flex justify-center items-center"
      >
        *
      </div>
      <div
        class="lg:h-[88px] w-[88px] rounded-full border border-[#1889F1] text-bold text-[36px] flex justify-center items-center"
      >
        4
      </div>
    </div>
    <div
      class="py-2 bg-[#1889F1] text-white flex justify-center items-center w-[150px] h-[50px] mb-[1rem] rounded-lg"
    >
      <h1>Proceed</h1>
      <!-- https://feathericons.dev/?search=arrow-right&iconset=feather -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="24"
        height="24"
        class="main-grid-item-icon"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
      >
        <line x1="5" x2="19" y1="12" y2="12" />
        <polyline points="12 5 19 12 12 19" />
      </svg>
    </div>
  </div>
  <div class="lg:py-5 w-full flex justify-end">
    <div>
      <!-- <img
        src="/assets/public/Card1.png"
        alt="waitlist image"
        class="rounded-lg"
      /> -->
      <img
        src="/assets/public/Image5.jpg"
        alt="waitlist image"
        class="rounded-lg"
      />
    </div>
  </div>
</div>
