<div class="lg:mt-[1rem] text-center w-full text-gray-700 lg:h-[824px]">
  <h1 class="font-bold lg:text-[48px] text-gray-900 text-lg py-2 lg:py-[2rem]">
    Frequently Asked Questions
  </h1>
  <h2 class="mb-[1.5rem] max-w-4xl mx-auto text-[#757575] lg:items-center">
    We are working on a game-changing imporovements to how your shopping
    experience will be improved significantly.Start by entering your email
    address below and click
    <span class="font-bold text-black">muustamail</span> for a position in our
    waitlist and get first hand information on when you can register
  </h2>
  <div class="mx-auto max-w-4xl text-black max items-center">
    <!-- question  -->
    <div
      class="flex flex-row gap-5 border-b border-gray-600 border-opacity-10 font-bold py-4"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="24"
        height="24"
        class="main-grid-item-icon cursor-pointer"
        fill="none"
        stroke="#1889F1"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
      >
        <line x1="12" x2="12" y1="5" y2="19" />
        <line x1="5" x2="19" y1="12" y2="12" />
      </svg>
      <h1>How Soon Will My Order Ship ?</h1>
    </div>

    <!-- answer -->
    <div class="border-b border-gray-600 border-opacity-10 font-bold py-2">
      <div class="flex flex-row gap-5">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="24"
          height="24"
          class="main-grid-item-icon cursor-pointer"
          fill="none"
          stroke="#1889F1"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
        >
          <line x1="5" x2="19" y1="12" y2="12" />
        </svg>

        <h1>Is There Any Warranty Exclusions ?</h1>
      </div>
      <div class="border-l border-[#1889F1] ml-[4rem] px-2 mb-4">
        <h1 class="text-[#757575] font-normal text-sm text-left mt-2 pb-2">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet, odit
          ducimus reprehenderit a odio reiciendis! Earum odit eum error quo
          voluptas vel facere quos nam deleniti, consequuntur placeat numquam
          impedit!
        </h1>
      </div>
    </div>
    <!-- question  -->
    <div
      class="flex flex-row gap-5 border-b border-gray-600 border-opacity-10 font-bold py-4"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="24"
        height="24"
        class="main-grid-item-icon cursor-pointer"
        fill="none"
        stroke="#1889F1"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
      >
        <line x1="12" x2="12" y1="5" y2="19" />
        <line x1="5" x2="19" y1="12" y2="12" />
      </svg>
      <h1>How Soon Will My Order Ship ?</h1>
    </div>

    <!-- question  -->
    <div
      class="flex flex-row gap-5 border-b border-gray-600 border-opacity-10 font-bold py-4"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="24"
        height="24"
        class="main-grid-item-icon cursor-pointer"
        fill="none"
        stroke="#1889F1"
        stroke-linecap="round"
        stroke-linejoin="round"
        Soon
        Will
        My
        Order
        Ship
        stroke-width="2"
      >
        <line x1="12" x2="12" y1="5" y2="19" />
        <line x1="5" x2="19" y1="12" y2="12" />
      </svg>
      <h1>Will I Be Charged For A Replacement Item ?</h1>
    </div>

    <!-- question  -->
    <div
      class="flex flex-row gap-5 border-b border-gray-600 border-opacity-10 font-bold py-4"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="24"
        height="24"
        class="main-grid-item-icon cursor-pointer"
        fill="none"
        stroke="#1889F1"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
      >
        <line x1="12" x2="12" y1="5" y2="19" />
        <line x1="5" x2="19" y1="12" y2="12" />
      </svg>
      <h1>How Can I track My Order and Payment ?</h1>
    </div>

    <!-- question  -->
    <div
      class="flex flex-row gap-5 border-b border-gray-600 border-opacity-10 font-bold py-4"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="24"
        height="24"
        class="main-grid-item-icon cursor-pointer"
        fill="none"
        stroke="#1889F1"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
      >
        <line x1="12" x2="12" y1="5" y2="19" />
        <line x1="5" x2="19" y1="12" y2="12" />
      </svg>
      <h1>How Soon Will My Order Ship ?</h1>
    </div>

    <!-- question  -->
    <div
      class="flex flex-row gap-5 border-b border-gray-600 border-opacity-10 font-bold py-4"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="24"
        height="24"
        class="main-grid-item-icon cursor-pointer"
        fill="none"
        stroke="#1889F1"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
      >
        <line x1="12" x2="12" y1="5" y2="19" />
        <line x1="5" x2="19" y1="12" y2="12" />
      </svg>
      <h1>How Soon Will My Order Ship ?</h1>
    </div>
  </div>
</div>
