<div class="mx-auto max-w-lg items-center mt-[2rem]">
  <div class="bg-[#EFF8FD] rounded-lg h-auto lg:w-[540px] p-[2rem] lg:h-auto">
    <h2 class="font-bold text-black py-[1rem] text-center">
      Subscribe to our Newsletters
    </h2>
    <div class="flex justify-between items-center bg-white rounded-lg">
      <input type="text" class="outline-none py-[1rem] px-4 w-[40%]" />
      <button class="bg-[#1889F1] py-[1rem] px-[1rem] rounded-r-lg">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="24"
          height="24"
          class="main-grid-item-icon justify-end"
          fill="none"
          stroke="white"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
        >
          <polyline points="9 18 15 12 9 6" />
        </svg>
      </button>
    </div>
    <p class="py-[1rem] text-gray-700">
      By Subscribing to our newsletters, you agree to our
      <span class="text-[#1889F1] underline px-1">Terms of Service</span> and
      our
      <span class="text-[#1889F1] underline px-1">
        Policy on Handling data</span
      >
    </p>
  </div>
</div>
